.shiki,
.shiki .line:not(.diff) {
    background-color: var(--color-bg-primary) !important;
}
/* DARK MODE STYLES */
@media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
    }
}

/* DIFF LINE STYLES */
.shiki code .line.diff {
    position: relative;
    display: inline-block;
    width: calc(100% + 44px);
    margin: 0 -24px 0 -20px;
    padding: 0 24px 0 20px;

    &::after {
        left: 6px;
        position: absolute;
    }
}
.shiki code .line.diff.remove {
    background-color: var(--color-utility-error-100);

    &::after {
        content: "-";
        color: var(--color-utility-error-700);
    }
}
.shiki code .line.diff.remove .highlighted-word {
    padding: 1px;
    margin: -1px;
    border-radius: 3px;
    background-color: var(--color-utility-error-300);
    color: var(--color-text-primary) !important;
}

.shiki code .line.diff.add {
    background-color: var(--color-utility-success-100);

    &::after {
        content: "+";
        color: var(--color-utility-success-700);
    }
}
.shiki code .line.diff.add .highlighted-word {
    padding: 1px;
    margin: -1px;
    border-radius: 3px;
    background-color: var(--color-utility-success-300);
    color: var(--color-text-primary) !important;
}

.shiki::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: color-mix(in srgb, var(--color-alpha-white), transparent 85%);
}
.shiki::-webkit-scrollbar-track {
    border-radius: 9999px;
    background: transparent;
}

/* .dark-mode .shiki,
.dark-mode .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
} */

/* LINE NUMBER STYLES */
.line-numbers .shiki {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.line-numbers .shiki code {
    counter-reset: step;
    counter-increment: step 0;
    display: flex;
    flex-direction: column;
}

.line-numbers .shiki code .line::before {
    content: counter(step);
    counter-increment: step;
    display: inline-block;
    position: sticky;
    left: 0;

    color: var(--color-text-quaternary);
    background-color: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border-secondary);

    /* line-height: 22px; */
    font-size: 14px;
    font-weight: 700;
    text-align: right;

    width: 48px;
    margin-right: 16px;
    padding-right: 16px;
}
.line-numbers .shiki code .line:first-of-type::before {
    padding-top: 16px;
}
.line-numbers .shiki code .line:last-of-type::before {
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .line-numbers .shiki code .line::before {
        width: 49px;
        margin-right: 20px;
        padding-right: 16px;
    }
    .line-numbers .shiki code .line:first-of-type::before {
        padding-top: 20px;
    }

    .line-numbers .shiki code .line:last-of-type::before {
        padding-bottom: 20px;
    }
}
